@import './variables.scss';

html,
body {
  font-family: 'Spartan', sans-serif;
  font-weight: 500;
  font-size: 15px;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: hsl(180, 52%, 96%);
  color: hsl(180, 8%, 52%);
}

.desktop-hide {
  @media only screen and (min-width: $desktop) {
    display: none;
  }
}

.mobile-hide {
  @media only screen and (max-width: $desktop) {
    display: none;
  }
}

.header-container {
  background-color: hsl(180, 29%, 50%);
  background-repeat: repeat-y;
  height: fit-content;
}

.keywords {
  padding: 20px 0 !important;
  box-shadow: 1px 9px 15px #b2bdbd !important;
  position: relative;
  bottom: 85px;
  margin-bottom: -80px !important;

  .filters {
    margin: 5px 0 0 20px !important;

    div {
      h4 {
        margin-bottom: 0 !important;
        padding: 0 15px !important;
        line-height: 35px;
        cursor: unset !important;

        &:hover {
          color: hsl(180, 29%, 50%) !important;
          background-color: hsl(180, 52%, 96%) !important;
        }
      }
    }
  }

  h5 {
    position: absolute;
    right: 20px;
    bottom: 4px;
    color: hsl(180, 29%, 50%);
    font-size: 1em;
    cursor: pointer;
  }
}

.tile {
  width: 80%;
  margin: 40px auto;
  background: white;
  border-radius: 10px;
  box-shadow: -6px 0px 0px 0px hsl(180, 29%, 50%),
    1px 9px 15px hsl(180, 8%, 72%);
  padding-left: 20px;

  @media only screen and (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 0;
  }

  .info-container {
    img {
      position: relative;
      bottom: 24px;
      height: 50px;

      @media only screen and (min-width: $desktop) {
        height: 100px;
        bottom: -14px;
      }
    }

    h4 {
      color: hsl(180, 29%, 50%);
      margin: 0px 10px -20px 0;
      display: inline-flex;
    }

    .new-tag {
      background-color: hsl(180, 29%, 50%);
    }

    .featured-tag {
      background-color: black;

      @media only screen and (min-width: $desktop) {
        margin: 0;
      }
    }

    .new-tag,
    .featured-tag {
      display: inline-flex;
      color: white;
      border-radius: 18px;
      font-weight: bolder;
      width: fit-content;
      font-size: 0.9em;
      margin: 0 5px;

      p {
        padding: 0px 5px;
        margin: 5px;
        line-height: 20px;
      }
    }

    h3 {
      color: black;
      cursor: pointer;

      &:hover {
        color: hsl(180, 29%, 50%);
      }
    }

    hr {
      width: 90%;
      margin: 0 0;
    }

    @media only screen and (min-width: $desktop) {
      display: flex;

      div {
        img {
          margin: 0 30px 10px 40px;
        }

        h4 {
          margin: 15px 10px 0 0;
        }
      }
    }
  }

  .filters {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

    @media only screen and (min-width: $desktop) {
      height: fit-content;
      margin: 50px 20px 0 0;
    }

    div {
      display: inline-flex;

      h4 {
        border-radius: 5px;
        background: hsl(180, 52%, 96%);
        color: hsl(180, 29%, 50%);
        margin: 0 10px 20px 0;
        padding: 10px 15px;
        cursor: pointer;

        &:hover {
          color: hsl(180, 52%, 96%);
          background: hsl(180, 29%, 50%);
        }
      }

      div {
        font-size: 22px;
        background: hsl(180, 29%, 50%);
        color: white;
        padding: 5px 5px;
        border-radius: 5px;
        height: fit-content;
        position: relative;
        right: 16px;

        &:hover {
          background: hsl(180, 14%, 20%);
          cursor: pointer;
        }
      }
    }
  }
}
